header {
    top: 0;
}

footer {
    padding: 15px;
    position: relative;
    width: 100%;
}

#searchText, input {
    width: 100%;
}

button {
    width: 100%;
}

#search, #random {
    padding-bottom: 10px;
}

.row {
    padding: 10px 0px;
}

.w-100 {
    width: 100%;
}

.result {
    border: 0.5px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
}